@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

section {
  height: 100vh;
}

#section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: linear-gradient(
    305deg,
    rgba(223, 223, 33, 1) 0%,
    rgba(244, 166, 38, 1) 100%
  );
}

.hero {
  display: flex;
  height: 70%;
  width: 80%;
}

.hero-img {
  width: 65%;
}

.hero-img img {
  width: 80%;
}
.hero-text {
  display: flex;
  position: relative;
  color: white;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border: 10px dotted black;
  min-width: 35%;
  max-width: 40%;
}

.desconto {
  font-weight: 800;
  font-size: 3rem;
}
.descricao {
  font-size: 2rem;
}
.desconto span {
  padding: 5px 10px;
  font-size: 5rem;
  border-radius: 5px;
  background-color: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 2px solid green; */
}

.wrap-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  height: 80%;
  width: 50%;
}

.wrap-contact input {
  width: 60%;
  height: 38px;
  border: none;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  outline: 0;
  padding: 10px;
  margin: 5px auto;
}

.btn {
  margin-top: 10px;
  padding: 5px 15px;
  border: 2px solid rgb(255, 255, 255);
  /* color: black; */
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
.btn:hover {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.content {
  padding-top: 25px;
  margin: 0 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto auto;
  /* grid-column-gap: 20px; */
  grid-row-gap: 20px;

  /* border: 2px solid green; */
  background: radial-gradient(transparent, black),
    url("../assets/images/bg2.jpg");
}

.best-offer {
  width: 100%;
  position: relative;
  /* border: 2px solid yellow; */
}
.best-offer:nth-child(odd) {
  display: flex;
  justify-content: flex-end;
}
.best-offer:nth-child(even) {
  display: flex;
  justify-content: flex-start;
}

#section-three {
  background: red;
}

.polygon {
  height: 40vh;
  /* border: 2px solid red; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  height: 10vh;
  background: #1a1a1a;
}

.logo {
  cursor: pointer;
  height: 10vh;
}

li,
a {
  font-weight: 500;
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  height: 10vh;
  background: #1a1a1a;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
.nav_links li:hover {
  background: rgb(65, 64, 64);
}

.link-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.nav_links li:hover {
  border-bottom: 5px solid #f6bb23;
}

#footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 0, 0);
  height: 40vh;
  color: white;
}

#footer p {
  font-weight: 800;
  color: white;
  font-size: 30px;
}

#footer ul {
  list-style: none;
}

.container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ==================== */
/* SECTION THREE */

#section-three {
  background: rgb(46, 46, 46);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

#section-three h1 {
  font-weight: 800;
  color: white;
  font-size: 40px;
}

.slider {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

/* product card */
.product-card {
  padding-top: 10px;
  width: 350px;
  position: relative;
  margin: 10px 20px;
  background: linear-gradient(
    305deg,
    rgba(244, 166, 38, 1) 0%,
    rgba(223, 223, 33, 1) 100%
  );
  border-radius: 10px;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  background: rgb(0, 0, 0);
  color: #fff;
  padding: 10px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  padding: 50px;
  margin: 10px;
  border: 5px solid white;
  border-radius: 5px;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 5px 20px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(75, 75, 75);
  margin-bottom: 5px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #5a5a5a;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 10px;
  color: rgb(75, 75, 75);
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}

/* arrow */
.arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
  cursor: pointer;
}

.arrows path {
  stroke: #000000;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s; /* Safari 和 Chrome */
}
