* {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
}

#section-one {
  background: radial-gradient(transparent, black);
}
#section-two {
  background: black;
  /* padding: 0 100px; */
}

.content {
  padding-top: 25px;
  margin: 0 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto auto;
  /* grid-column-gap: 20px; */
  grid-row-gap: 20px;

  /* border: 2px solid green; */
  background: radial-gradient(transparent, black),
    url("./assets/images/bg2.jpg");
}

.best-offer {
  width: 100%;
  position: relative;
  /* border: 2px solid yellow; */
}
.best-offer:nth-child(odd) {
  display: flex;
  justify-content: flex-end;
}
.best-offer:nth-child(even) {
  display: flex;
  justify-content: flex-start;
}

#section-three {
  background: red;
}

.polygon {
  height: 40vh;
  /* border: 2px solid red; */
}
